{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver", {
                "root": ["./src"],
                "alias": {
                    "@core": "./src/core",
                    "@infra": "./src/infra",
                    "@main": "./src/main",
                    "@presentation": "./src/presentation",
                    "@validation": "./src/validation",
                    "@test": "./__tests__"
                }
            }
        ]
    ]
}